footer.site-footer {
    margin-top: 0px;
    color: #FFF;
    text-align: left;
    padding-top: 2em;
    background: linear-gradient(to bottom, #3F88B7 0px, #236D9D 100%) repeat scroll 0% 0% transparent;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.067);

}
.glyphicon-lg {
    font-size: 54px;
    line-height: 1.5;
    align-items: center;
}
footer.site-footer .footer-div {
    color: #FEFEFE;
    text-align: left;
    border-right: 1px dotted #BDC3C7;
    padding-right: 10px;
}

footer.site-footer .footer-div.last {
    border-right: medium none;
}